/*
 * Para que los nombres y descripciones de las listviews salgan en más de una línea
 * hay que usar el estilo CSS white-space:pre-wrap o white-space:normal, pero esto
 * solo funciona metiéndolo en el HTML que se inserta desde el js.
 */

/*Esto hace que las listas desplegables no se vuelvan fullscreen 
 * independientemente de su tamaÃ±o, lo que evita el jodido parpadeo.
 */
.ui-selectmenu-list li .ui-btn-inner a.ui-link-inherit { 
	padding: .5em 15px .5em 15px; 
}

/*Esto cambia el grosor del borde de los desplegables de los select, ya que no es un borde, sino un padding
sobre un fondo gris.*/
.ui-selectmenu {
	padding : 2px;
}

#divSubmit{
	margin-top: 50px;
}

#nombreDetalle{
	width: 100%;
	float: left;
	color: blue;
	font-size: 1.15em;
	font-weight: bold;
	text-align: center;
}

#descDetalle{
	width: 100%;
	margin-top: 10px;
	font-size: 1.05em;
	float: left;
	text-align: justify;
}

#fotoDetalle{
	width: 100%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.imgDetalle{
	margin-left: auto;
	margin-right: auto;
}

#detalleAbajo{
	margin-top: 10px;
}

#detalleIzquierda{
	width: 50%;
	float: left;
}

#menuDetalle{
	width: 100%;
	margin-top: 10px;
	font-size: 1.05em;
	float: left;
}

#categoriaDetalle{
	width: 100%;
	font-size: 1.05em;
	float: left;
	margin-top: 15px;
}

#detalleDerecha{
	width: 50%;
	float: left;
}

#precioDetalle{
	width: 100%;
	margin-top: 10px;
	font-size: 1.15em;
	font-weight: bold;
	color: green;
	text-align: right;
	float: left;
}
