.encabezadoPaso {
	width: 100%;
	height: 2em;
	float: left;
	border-radius: 10px;
	background-color: #DBDBDB;
	margin-bottom: 1em;
}

.encabezadoIzq {
	width: 20%;
	height: 2em;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	color: red;
	line-height: 1.5em;
}

.encabezadoDch {
	width: 80%;
	height: 2em;
	float: left;
	font-size: 1.2em;
	font-weight: bold;
	color: blue;
	line-height: 1.4em;
}

#formReserva input {
	border-left:8px solid red;
    font: bold 15px Arial, Helvetica;
}

#formReserva input.error{
	border:1px solid red;
}

#fecha + label.error{
	border:1px solid red;
}

#hora + label.error{
	border:1px solid red;
}

#mesa + label.error{
	border:1px solid red;
}

#formReserva input.valid {
	border-left:8px solid green;
}

#divSubmit{
	margin-top: 50px;
}

#botonReservar{
	border-left: none!important;	
}


/*--------------*/
/*    PASO 2    */
/*--------------*/

#listaNiveles li{
	font-family: "customfont";
	font-size: 1.3em;
	line-height: 4em;
}

.contLi {
	width: 100%;
	height: 4em;
	overflow: hidden;
}

/*.li-izq {
	width: 20%;
	font-size: 1.3em;
	line-height: 4em;
	background-color: red;
	float: left;
}*/

.li-ctr {
	width: 60%;
	font-size: 1em;
	line-height: 4em;
	text-align: center;
	float: left;
}

.liCtrArr {
	width: 100%;
	line-height: 2em;
	color: green;
	float: left;
}

.liCtrAb {
	width: 100%;
	line-height: 2em;
	color: blue;
	float: left;
}

.liDchArrMenos {
	width: 10%;
	line-height: 4em;
	float: left;
}

.liDchArrMas {
	width: 10%;
	line-height: 4em;
	float: left;
}

.liDchAb {
	width: 20%;
	float: left;
	line-height: 4em;
	text-align: center;
}

/*#listaIntMenus li{
	font-size: 1.3em;
	line-height: 2em;
}

.liInt {
	width: 100%;
	height: 4em;
	float: left;
}

.liIzq {
	width: 20%;
	background-color: green;
	float: left;	
}

.liCtr {
	width: 60%;
	float: left;
}

.liCtrArr {
	width: 100%;
	float: left;
	background-color: red;
}

.liCtrAb {
	width: 100%;
	float: left;
	background-color: blue;
}

.liDch {
	width: 20%;
	float: left;
}

.liDchArrMenos {
	width: 50%;
	float: left;
	background-color: silver;
}

.liDchArrMas {
	width: 50%;
	float: left;
	background-color: purple;
}

.liDchAb {
	width: 100%;
	float: left;
	background-color: yellow;
}*/

/********/
/*PASO 3*/
/********/

.botonSalir {
	margin-top: 2em;
}

#botPaypal {
	width: 100%;
	text-align: center;
	margin-top: 2em;
}

#imgBotPaypal {
	width: 95%;
	height: auto;
}

/*--------------------*/

/*Input (antes de pulsar y sacar el datebox)*/ 
.ui-input-datebox{
	width:98%;
	background-image:none;
	border-left:8px solid red;
    font: bold 15px Arial, Helvetica;
	padding:.4em;
	line-height:1;
	display:block;
	padding-top:0;
	padding-bottom:0;
	background-color:transparent
}

/*Ventana modal que contiene el datepicker (contenedor de todos los botones y el header)*/
.ui-datebox-container{
	border:2px solid #111!important;
	width:280px;
	background-color:white;
	-webkit-transform:translate3d(0,0,0)
}

/*Días no correspondientes al mes*/
.ui-datebox-griddate-empty{
	border:1px solid transparent;
	color:#dbdbdb
}

/*Días del mes no seleccionables*/
.ui-datebox-griddate-disable{
	color:#dbdbdb;
	border:1px solid transparent;
}

/*Etiqueta de los días de la semana (L, M, X...)*/
.ui-datebox-griddate-label{
	height:15px!important;
	line-height:15px!important;
	color:black
}

/*Botones del calendario de los días festivos(o los que sean)*/
.ui-btn-up-verde { 
    background-color:green; 
    background-image:none;
    color : white;
    border:1px solid #dbdbdb;
}

/*Botones del calendario de fulldays*/
.ui-btn-up-rojo {
    background-color:red; 
    background-image:none;
    color : white;
    border:1px solid #dbdbdb;
}

/*Esto hace que las listas desplegables no se vuelvan fullscreen independientemente de su tamaÃ±o, 
lo que evita el jodido parpadeo.*/
.ui-selectmenu-list li .ui-btn-inner a.ui-link-inherit { 
	padding: .5em 15px .5em 15px; 
}

/*Esto cambia el grosor del borde de los desplegables de los select, ya que no es un borde, sino un padding
sobre un fondo gris.*/
.ui-selectmenu {
	padding : 3px;
}